.author {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.book-title {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.border {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-collapse: separate;
  border-left-color: #000;
  border-left-style: solid;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-spacing: 2px;
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 0.1em;
  display: table;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
  text-indent: 0;
}
.borderbottom {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-width: 0.1em;
  border-top-color: #000;
  border-top-width: 0.1em;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.borderbottomright {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-top-color: #000;
  border-top-width: 0.1em;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.borderright {
  border-bottom-color: #000;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-top-color: #000;
  border-top-width: 0.1em;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.boxnote {
  background-color: #DADADA;
  border-bottom-width: 0.15em;
  border-left-width: 0.15em;
  border-right-width: 0.15em;
  border-top-width: 0.15em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;
  text-align: justify;
}
.boxnote1 {
  background-color: #dee3de;
  border-bottom-style: double;
  border-bottom-width: 0.25em;
  border-left-style: double;
  border-left-width: 0.25em;
  border-right-style: double;
  border-right-width: 0.25em;
  border-top-style: double;
  border-top-width: 0.25em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.75em;
  text-align: justify;
}
.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  text-decoration: none;
}
.calibre2 {
  font-weight: bold;
}
.calibre3 {
  height: auto;
  max-width: 95%;
  width: auto;
}
.calibre4 {
  font-style: italic;
}
.calibre5 {
  display: table-row;
  vertical-align: middle;
}
.calibre6 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.calibre7 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre8 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre9 {
  display: block;
  line-height: 1.2;
}
.calibre10 {
  text-indent: 0;
}
.calibre11 {
  display: block;
}
.center-parar {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
  text-indent: 0;
}
.center-parar1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.center-parar2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.83333em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
  text-indent: 0;
}
.center-paras {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-width: 0.1em;
  border-top-color: #000;
  border-top-width: 0.1em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.center-paras1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.center-paras2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
  text-indent: 0;
}
.copyright {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0;
}
.copyright1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
}
.copyright2a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: left;
  text-indent: 0;
}
.copyrighta {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8em;
  text-align: left;
  text-indent: 0;
}
.copyrightb {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 4em;
  text-align: left;
  text-indent: 0;
}
.editor {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15em;
  text-align: center;
  text-indent: 0;
}
.h {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.h2a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.3em;
  text-align: center;
  text-indent: 0;
}
.h2b {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-left-color: #000;
  border-left-width: 0.05em;
  border-right-color: #000;
  border-right-width: 0.05em;
  border-top-color: #000;
  border-top-width: 0.05em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.image {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.image1 {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.3em;
  text-align: center;
  text-indent: 0;
}
.imagec {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.indent-para {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 1em;
}
.indent-parab {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2.5em;
}
.para {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 0;
}
.para1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 0;
}
.para1a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: 0;
}
.paras {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 0;
}
.paras1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 0;
}
.sub-title {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.5em;
  text-align: center;
  text-indent: 0;
}
.table {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 0;
}
.toc-entry {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 1.4em;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: left;
  text-indent: 0;
}
.toc-entrya {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 1.4em;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: left;
  text-indent: 0;
}
.toc-entryh {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 1.8em;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: left;
  text-indent: -1.3em;
}
.toc-entryh1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 1.3em;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: left;
  text-indent: -1.3em;
}
